<div style="display: inline-flex">
    <form action="/addb" method="post" class="form">
        BAnk <br>
        <input type="text" class="form-control" placeholder="name" name="name"><br>
        <input type="text" class="form-control" placeholder="imageUrl" name="imageUrl"><br>
        <input type="text" class="form-control" placeholder="detail" name="detail"><br>
        <input type="text" class="form-control" placeholder="atm" name="atm"><br>
        <input type="text" class="form-control" placeholder="latitude" name="latitude"><br>
        <input type="text" class="form-control" placeholder="longitude" name="longitude"><br>
        <input type="text" class="form-control" placeholder="rating" name="rating"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>
    <form action="/addc" method="post" class="form">
        comment <br>
        <input type="text" class="form-control" placeholder="commentOn" name="commentOn"><br>
        <input type="text" class="form-control" placeholder="commentDetail" name="commentDetail"><br>
        <input type="text" class="form-control" placeholder="commentedBy" name="commentedBy"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>

    <form action="/addhos" method="post" class="form">
        hospitals <br>
        <input type="text" class="form-control" placeholder="name" name="name"><br>
        <input type="text" class="form-control" placeholder="imageUrl" name="imageUrl"><br>
        <input type="text" class="form-control" placeholder="detail" name="detail"><br>
        <input type="text" class="form-control" placeholder="category" name="category"><br>
        <input type="text" class="form-control" placeholder="latitude" name="latitude"><br>
        <input type="text" class="form-control" placeholder="longitude" name="longitude"><br>
        <input type="text" class="form-control" placeholder="rating" name="rating"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>

    <form action="/addhot" method="post" class="form">
        hetels <br>
        <input type="text" class="form-control" placeholder="name" name="name"><br>
        <input type="text" class="form-control" placeholder="imageUrl" name="imageUrl"><br>
        <input type="text" class="form-control" placeholder="detail" name="detail"><br>
        <input type="text" class="form-control" placeholder="latitude" name="latitude"><br>
        <input type="text" class="form-control" placeholder="longitude" name="longitude"><br>
        <input type="text" class="form-control" placeholder="rating" name="rating"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>

    <form action="/addo" method="post" class="form">
        outlets <br>
        <input type="text" class="form-control" placeholder="name" name="name"><br>
        <input type="text" class="form-control" placeholder="imageUrl" name="imageUrl"><br>
        <input type="text" class="form-control" placeholder="detail" name="detail"><br>
        <input type="text" class="form-control" placeholder="latitude" name="latitude"><br>
        <input type="text" class="form-control" placeholder="longitude" name="longitude"><br>
        <input type="text" class="form-control" placeholder="rating" name="rating"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>

    <form action="/addp" method="post" class="form">
        places <br>
        <input type="text" class="form-control" placeholder="name" name="name"><br>
        <input type="text" class="form-control" placeholder="imageUrl" name="imageUrl"><br>
        <input type="text" class="form-control" placeholder="detail" name="detail"><br>
        <input type="text" class="form-control" placeholder="latitude" name="latitude"><br>
        <input type="text" class="form-control" placeholder="longitude" name="longitude"><br>
        <input type="text" class="form-control" placeholder="rating" name="rating"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>

    <form action="/addt" method="post" class="form">
        travel <br>
        <input type="text" class="form-control" placeholder="rno" name="rno"><br>
        <input type="text" class="form-control" placeholder="to" name="to"><br>
        <input type="text" class="form-control" placeholder="from" name="from"><br>
        <input type="text" class="form-control" placeholder="via" name="via"><br>
        <input type="text" class="form-control" placeholder="fare" name="fare"><br>
        <input type="text" class="form-control" placeholder="timing" name="timing"><br>
        <button class="btn-success" type="submit"> Done</button>
    </form>
</div>